@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


h1.title {
      font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #292929 !important;
    font-size: 24pt;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 30%) !important;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

h4.author {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: -4pt;
    margin-top: -4pt;
    text-transform: none !important;
    opacity: 0.5;
    color: #60667b;
    text-shadow: 0.4px 0.4px 0.4px hsl(0deg 0% 0%);
}

h4.date {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 18pt;
    font-size: 14pt;
    text-transform: none !important;
    opacity: 0.5;
    color: #60667b;
    text-shadow: 0.4px 0.4px 0.4px hsl(0deg 0% 0%);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 22px;
    color: black;
    margin: 40px;
}

a.navbar-brand {
    font-family: 'Roboto';
    letter-spacing: 0.75px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10.5pt;
}


.tables {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-width: 5in;
    justify-content: center;
    margin: auto !important;
}

.tables caption {
    padding-top: 6px;
    padding-bottom: 0px;
    color: hsl(0deg 0% 70%);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 9pt !important;
    text-shadow: 0.1px 0.1px 0.1px hsl(0deg 0% 0% / 65%);
}

pre {
    background: hsl(0deg 0% 98%);
    border: 1px solid #f5f5f5;
    margin: 10pt;
    box-shadow: 0 0.5px 1px rgb(0 0 0 / 25%);

}

pre code {
    font-family: 'Inconsolata', monospace;
    box-shadow: none !important;
    font-size: 12px !important;
    color: #333333;
    background-image: none !important;
    border: none !important;
    background: none !important;
}

code {
    font-family: 'Inconsolata';
    box-shadow: inset 0.5px 0.5px 2px 0px hsl(0deg 0% 50%);
    background-color: #ffffff;
    background-image: linear-gradient(360deg, hsl(0deg 0% 98%), hsl(220deg 5% 92%));
    border: 0.5px solid #d7d7d7;
    box-shadow: 0 0.75px 0.5px rgb(0 0 0 / 30%);
}

.hljs-keyname {
    color: hsl(101deg 26% 58%);
    font-weight: 500;
    /* color: hsl(304deg 40% 60%); */
}

.hljs-literal {
  font-weight: 500;
  color: hsl(313deg 50% 47%);
}

.hljs-comment {
    color: hsl(0deg 0% 55%);
    font-weight: 300;
    font-style: normal;
}

.hljs-keyword {
    color: hsl(165deg 100% 28%);
    font-weight: 800;
}

.hljs-number {
    color: #23B2BE;
    font-weight: 500;
}

.hljs-string {
    color: #D59187;
}

.hljs-models {
    font-weight: 500;
    color: #7F7DB7;
}


pre.r {
    background: #303030 !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%) !important;
    border-radius: 0;
    border: none;
    border-left: 5px solid black;
    color: white;
    font-weight: 300;
}

pre.r code {
    color: white !important;
}

.hljs-keyword {
    color: #0BAA78;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px black !important;
}

.hljs-literal {
  text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black !important;
    font-weight: 500;
    color: hsl(231deg 100% 74%);
}

.hljs-number {
    font-weight: 500;
    color: hsl(170deg 100% 50%);
    text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black !important;
}

.hljs-models {
    font-weight: 400;
    color: #AFD396;
    text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black, 1px 1px 1px hsl(101deg 75% 40% / 15%) !important;
}

.hljs-string {
    color: #D59187;
    color: hsl(205deg 40% 60%);
}

.hljs-keyname {
    font-weight: 500;
    color: hsl(318deg 52% 50%);
    text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black !important;
}



pre:not([class]) {
    background-color: hsl(240deg 14% 95% / 70%) !important;
    border: none !important;
    box-shadow: inset 0px 0px 3px 1px rgb(206 206 206 / 49%), inset 0px 0px 2px 1px rgb(172 172 172 / 50%), inset 0px 0px 2px 1px rgb(172 172 172 / 50%) !important;
}



/* ---------------------------------------- */


.html-widget {
    margin: auto;
}

table.table.table-striped.table-hover {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.table {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

table.kable_wrapper.table {
    box-shadow: none !important;
}


blockquote {
    padding: 10px 10px;
    margin: 0 0 20px;
    border-left: 5px solid #4B9B69;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background: #333333;
    color: white;
    font-size: 11.5pt;
    font-family: roboto condensed;
    text-shadow: 0.15px 0 0.5px #e6dfef, -0.15px 0 0.5px #e6dfef, 1px 0 1px #33292a, -2px 0 2px #1a1420 !important;
}

blockquote code {
      text-shadow: 0.25px 0.25px 0.25px black;
    background: #333333;
    background-image: radial-gradient(#525051, #4B4746);
    border: 0.5px solid rgba(133, 129, 128, 0.15);
    box-shadow: 0 0.75px 0.5px rgb(0 0 0), -0.5px 2.5px 2.5px #181619;
    color: #AFD396;
    font-weight: 600;
}

blockquote ol {
    padding-left: 18px;
    color: white !important;
}


blockquote em {
    font-style: unset;
    font-weight: 300;
    color: white;
    text-shadow: 0.25px 0.25px 0.75px black;
    font-size: 10.5pt;
    /* font-variant: all-small-caps; */
    /* font-size: 14pt; */
}



/* ---------------------------------------- */


.roundedlist2 ol code {
    background: linear-gradient(145deg, #ffffff, #dcdcdc);
    box-shadow: 0.45px 1.5px 1.5px 0 rgb(0 0 0 / 12%), 0 1px 1px 0px rgb(0 0 0 / 24%), 0.75px 0.75px 0.5px 0 white inset;
    color: #00A560;
}

.roundedlist2 ol {
    counter-increment: cupcake;
    padding: 0 5pt 5pt 5pt;

}

.roundedlist2 li::before {
    content: counter(cupcake, lower-alpha);
    border-radius: 15pt;
    width: 16pt;
    height: 16pt;
    display: inline-flex;
    justify-content: center;
    margin-right: 3pt;
    margin-left: -19pt;
    align-items: center;
    font-family: 'Roboto';
    box-shadow: 0 1px 1.5px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
    background: linear-gradient(145deg, #ffffff, #dcdcdc);
    box-shadow: 0.45px 1.5px 1.5px 0 rgb(0 0 0 / 12%), 0 1px 1px 0px rgb(0 0 0 / 24%), 0.75px 0.75px 0.5px 0 white inset;
    color: #006E52;
    font-size: 11pt;
    font-weight: 600;
}


.roundedlist2 ol ol li::before {
    content: counter(icecream, lower-roman);
    width: 12pt;
    height: 12pt;
    font-size: 9pt;
    color: #477ad1;
    font-weight: 400;
}

.roundedlist2 ol ol li {
  counter-increment: icecream;
    margin-top: -2pt;
    box-shadow: none !important;
    margin-bottom: -6pt;
    font-size: 10pt;
    line-height: 15pt;
    text-shadow: 0.1px 0.1px 0.1px hsl(233deg 5% 26% / 85%), 0.2px 0.2px 0.2px hsl(233deg 5% 26% / 85%), 0 -0.5px 0px rgb(12 13 18 / 8%), 0 0.5px 0 rgb(255 255 255);
}


.roundedlist2 ol ol {
    margin-left: -15pt;
}


.roundedlist2 li::marker {
    content: none;
}


.roundedlist2 li {
    margin-top: 15pt;
    border-radius: 6pt;
    padding: 5pt 5pt 5pt 28pt;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%), inset 1px 1px 1px rgb(255 255 255 / 60%), inset -1px -1px 1px rgb(12 13 18 / 6%), -1px -1px 1px 0px rgb(255 255 255 / 60%), -1px -1px 4px 0px rgb(255 255 255 / 60%), -2px -2px 8px 0px rgb(255 255 255 / 60%), 1px 1px 1px 0px rgb(12 13 18 / 6%), 1px 1px 4px 0px rgb(12 13 18 / 6%), 2px 2px 8px 0px rgb(12 13 18 / 6%);
    background: hsl(223deg 4% 95%);
    font-family: roboto condensed !important;
    font-size: 11pt;
    text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%), 0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0px rgb(12 13 18 / 8%), 0 1.2px 0 rgb(255 255 255);
    color: hsl(233deg 5% 26%);
    font-weight: 300;
}

.roundedlist2 p {
    margin: 10px 10pt 10px 10pt;
}



span.math.inline {
    font-size: 12px !important;
}


table.table.table-hover.lightable-paper {
  box-shadow: inset 0 10px 10px -5px #f5f5f5, inset 0 -1px 1px rgb(255 255 255 / 10%), 0 0.5px 1px rgb(0 0 0 / 30%), 0 0 2.5px rgb(0 0 0 / 15%);
}

/* ---------------------------------------- */
/* ---------------------------------------- */


@media print {
  
  h1.title {
    color: #292929 !important;
    text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 30%) !important;
}

h4.date, h4.author {
    font-weight: 300 !important;
    opacity: 0.5 !important;
    color: #60667b !important;
    text-shadow: 0.4px 0.4px 0.4px hsl(0deg 0% 0%) !important;
}

.tables caption {
  color: hsl(0deg 0% 70%) !important;
  font-weight: 300 !important;
  text-shadow: 0.1px 0.1px 0.1px hsl(0deg 0% 0% / 65%) !important;
}

pre {
    background: hsl(0deg 0% 98%) !important;
    border: 1px solid #f5f5f5 !important;
    box-shadow: 0 0.5px 1px rgb(0 0 0 / 25%) !important;
}

pre code {
  box-shadow: none !important;
  color: #333333 !important;
  background-image: none !important;
  border: none !important;
  background: none !important;
}

code {
    background-color: #ffffff !important;
    background-image: linear-gradient(360deg, hsl(0deg 0% 98%), hsl(220deg 5% 92%)) !important;
    border: 0.5px solid #d7d7d7 !important;
    box-shadow: 0 0.75px 0.5px rgb(0 0 0 / 30%) !important;
}

.hljs-comment {
    color: hsl(0deg 0% 55%) !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.hljs-keyword {
    color: hsl(165deg 100% 28%) !important;
    font-weight: 800 !important;
}

.hljs-keyname {
    color: hsl(101deg 26% 58%) !important;
    font-weight: 500 !important;
    /* color: hsl(304deg 40% 60%); */
}
.hljs-literal {
    font-weight: 500 !important;
    color: hsl(313deg 50% 47%) !important;
}

.hljs-number {
    color: #23B2BE !important;
    font-weight: 500 !important;
}

.hljs-string {
    color: #D59187 !important;
}

.hljs-models {
    font-weight: 500 !important;
    color: #7F7DB7 !important;
}


table.table.table-striped.table-hover {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}


blockquote {
  border-left: 5px solid #4B9B69 !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  background: #333333 !important;
  color: white !important;
  text-shadow: 0.15px 0 0.5px #e6dfef, -0.15px 0 0.5px #e6dfef, 1px 0 1px #33292a, -2px 0 2px #1a1420 !important;
}

blockquote li {
  color: white !important;
}


blockquote code {
  text-shadow: 0.25px 0.25px 0.25px black !important;
    background: #333333 !important;
    background-image: radial-gradient(#525051, #4B4746) !important;
    border: 0.5px solid rgba(133, 129, 128, 0.15) !important;
    box-shadow: 0 0.75px 0.5px rgb(0 0 0), -0.5px 2.5px 2.5px #181619 !important;
    color: #AFD396 !important;
    font-weight: 600 !important;
    
}


blockquote em {
  font-weight: 300 !important;
    color: white !important;
    text-shadow: 0.25px 0.25px 0.75px black !important;
}

.roundedlist2 li::before {
    content: counter(cupcake, lower-alpha) !important;
    background: linear-gradient(145deg, #ffffff, #dcdcdc) !important;
    box-shadow: 0.45px 1.5px 1.5px 0 rgb(0 0 0 / 12%), 0 1px 1px 0px rgb(0 0 0 / 24%), 0.75px 0.75px 0.5px 0 white inset !important;
    color: #006E52 !important;
    font-size: 11pt;
    font-weight: 600 !important;

}

.roundedlist2 li::marker {
    content: none !important;
}


.roundedlist2 li {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%), inset 1px 1px 1px rgb(255 255 255 / 60%), inset -1px -1px 1px rgb(12 13 18 / 6%), -1px -1px 1px 0px rgb(255 255 255 / 60%), -1px -1px 4px 0px rgb(255 255 255 / 60%), -2px -2px 8px 0px rgb(255 255 255 / 60%), 1px 1px 1px 0px rgb(12 13 18 / 6%), 1px 1px 4px 0px rgb(12 13 18 / 6%), 2px 2px 8px 0px rgb(12 13 18 / 6%) !important;
    background: hsl(223deg 4% 95%) !important;
    text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%), 0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0px rgb(12 13 18 / 8%), 0 1.2px 0 rgb(255 255 255) !important;
    color: hsl(233deg 5% 26%) !important;
    font-weight: 300 !important;
}

.roundedlist2 ol ol li::before {
    content: counter(icecream, lower-roman) !important;
    color: #477ad1 !important;
    font-weight: 400 !important;
}

.roundedlist2 ol code {
    background: linear-gradient(145deg, #ffffff, #dcdcdc) !important;
    box-shadow: 0.45px 1.5px 1.5px 0 rgb(0 0 0 / 12%), 0 1px 1px 0px rgb(0 0 0 / 24%), 0.75px 0.75px 0.5px 0 white inset !important;
    color: #00A560 !important;
}

.roundedlist2 ol ol li {
  box-shadow: none !important;
  text-shadow: 0.1px 0.1px 0.1px hsl(233deg 5% 26% / 85%), 0.2px 0.2px 0.2px hsl(233deg 5% 26% / 85%), 0 -0.5px 0px rgb(12 13 18 / 8%), 0 0.5px 0 rgb(255 255 255) !important;
}


table.table.table-hover.lightable-paper {
  box-shadow: inset 0 10px 10px -5px #f5f5f5, inset 0 -1px 1px rgb(255 255 255 / 10%), 0 0.5px 1px rgb(0 0 0 / 30%), 0 0 2.5px rgb(0 0 0 / 15%) !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

.table td, .table th {
  background-color: transparent !important;
}

blockquote .MathJax * {
    color: white !important;
}

blockquote li {
  text-shadow: 0.15px 0 0.5px #e6dfef, -0.15px 0 0.5px #e6dfef, 1px 0 1px #33292a, -2px 0 2px #1a1420 !important;
}

pre.r {
    background: #303030 !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%) !important;
    border-left: 5px solid black !important;
    color: white !important;
    font-weight: 300 !important;
}

pre.r code {
    color: white !important;
}

.hljs-keyword {
    color: #0BAA78 !important;
    font-weight: 500 !important;
    text-shadow: 0.5px 0.5px 1px black !important;
}

.hljs-literal {
  text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black !important;
    font-weight: 500 !important;
    color: hsl(231deg 100% 74%) !important;
}

.hljs-number {
    font-weight: 500 !important;
    color: hsl(170deg 100% 50%) !important;
    text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black !important;
}

.hljs-models {
    font-weight: 400 !important;
    color: #AFD396 !important;
    text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black, 1px 1px 1px hsl(101deg 75% 40% / 15%) !important;
}

.hljs-string {
    color: hsl(205deg 40% 60%) !important;
}

.hljs-keyname {
        font-weight: 500 !important;
    color: hsl(318deg 52% 50%) !important;
    text-shadow: 0.25px 0.25px 1px #111111, 0.25px 0.25px 0.5px black !important;
}

pre:not([class]) {
    background-color: hsl(240deg 14% 95% / 70%) !important;
    border: none !important;
    box-shadow: inset 0px 0px 3px 1px rgb(206 206 206 / 49%), inset 0px 0px 2px 1px rgb(172 172 172 / 50%), inset 0px 0px 2px 1px rgb(172 172 172 / 50%) !important;
}

.table {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

table.kable_wrapper.table {
    box-shadow: none !important;
}

span.hljs-assign, span.hljs-equiv {
    color: white !important;
}
  
}